/* Загальні стилі */

* {
  box-sizing: border-box;
  margin-top: 50;
  padding: 0;
  font: normal 10pt;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  margin-bottom: 20px;
  font: bold 12pt Helvetica;
}

ol, li {
  text-align: justify;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
}

button {
  margin-top: 10px;
}

.password {
  margin-top: 20px;
  text-align: left;
}

.password input {
  width: 250px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

.password button {
  vertical-align: top;
  width: 30px;
  height: 30px;
}

/* Стилі для десктопів */

@media (min-width: 768px) {

  /* Збільшення ширини контейнера для десктопів */

  .container {
    width: 60%;
  }

}

/* Стилі для мобільних пристроїв */

@media (max-width: 767px) {

  /* Зменшення розміру шрифту та збільшення розмірів інпутів на мобільних пристроях */

  body {
    font-size: 16px;
    margin-top: 50;
  }

  input[type="checkbox"], input[type="radio"], input[type="button"] {
    transform: scale(1.5);
    margin-right: 10;
  }

}
